.text-field {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: #919191;
    -fx-border-width: 2px;
}

.text-field:focused {
    -fx-border-color: #0c84e7;
}

.button {
    -fx-background-radius: 0px;
    -fx-background-color: #0c84e7;
    -fx-text-fill: #fff;
    -fx-min-width: 113px;
    -fx-min-height: 26px;
}

.button:hover {
    -fx-background-color: #4696e3;
}

.button:pressed {
    -fx-background-color: #0d60a4;
}

.button-important {
    -fx-background-color: #d90000;
}

.button-important:hover {
    -fx-background-color: #ce4040;
}

.button-important:pressed {
    -fx-background-color: #8d0000;
}

.button-secondary {
    -fx-background-color: #797979;
}

.button-secondary:hover {
    -fx-background-color: #a8a8a8;
}

.button-secondary:pressed {
    -fx-background-color: #484848;
}

.label-warning {
    -fx-text-fill: #bd0000;
}

.body-dashboard {
    -fx-background-color: black;
}

.tab-pane {
    -fx-background-color: #c9c9c9;
    -fx-tab-min-height: 3em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: black;
}

.tab {
    -fx-background-color: #5d5e5e;
    -fx-font-weight: bold;
    -fx-border-width: 0px 1px 0px 1px;
    -fx-border-color: black;
    -fx-background-radius: 0px;
    -fx-pref-width: 15em;
    -fx-background-insets: 0 1 0 0, 1 2 0 1, 2 3 0 2; /* Removes the line under the tab. */
}

.tab-first {
    -fx-padding: 0px 1px 0px 0px;
}

.tab:selected {
    -fx-background-color: #c9c9c9;
}

.tab:selected .tab-label {
    -fx-text-fill: black;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-pref-width: 15em;
    -fx-text-alignment: left;
}

.split-pane {
    -fx-border-width: 0px;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #c9c9c9;
    -fx-pref-width: 3em;
}

.header-category {
    -fx-text-fill: #6f6f6f;
}

.table-view .column-header-background .filler {
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: white;
    -fx-border-width: 0px 2px 2px 0px;
    -fx-border-color: #c9c9c9;
    -fx-text-alignment: CENTER_LEFT;
}

.table-view .column-header .label {
    /*-fx-alignment: left;*/
    -fx-padding: 10px;
}

.table-column {

}

.error-label {
    -fx-text-fill: #be0000;
    -fx-font-weight: bold;
}